<html>

<head>
	<title>ViaThinkSoft Personal WebBase</title>
	<meta name="robots" content="noindex">
</head>

<body>

<!-- Personal WebBase Vorlage fuer automatisches Login -->

<form name="loginform" action="http://www.example.com/loginformular.html" method="POST" target="_top">
<input type="hidden" name="schluessel1" value="wert1">
<input type="hidden" name="schluessel2" value="wert2">
</form>

Bitte warten...<br><br>

<script language="JavaScript" type="text/javascript">
<!--
  document.loginform.submit();
// -->
</script>

</body>

</html>
